.App {
  background-color: #1a8cf0;
  background-image: linear-gradient(to right, #007fef, #4da5f3, #80bff7);
}
.main {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.pokePage {
  /* max-width: 900px; */
  /* width: 60%; */
  margin: 0px auto;
  text-align: center;
}

.logo_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
